// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
// @import "variables";

@import "./../../../node_modules/bootstrap//scss/functions";
@import "./../../../node_modules/bootstrap//scss/variables";

@import "config/modern/variables";
@import "config/modern/variables-custom";
@import "config/modern/theme-mode";

@import "custom/components/utilities";

// Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

// Structure
@import "custom/structure/sidenav";
@import "custom/structure/topbar";

// Horizontal nav
@import "custom/structure/horizontal-nav";

// Components
@import "custom/components/root";
@import "custom/components/background";
@import "custom/components/breadcrumb";
@import "custom/components/buttons";
@import "custom/components/card";
@import "custom/components/custom-forms";
@import "custom/components/dropdown";
@import "custom/components/docs";
@import "custom/components/forms";
@import "custom/components/modal";
@import "custom/components/nav";
@import "custom/components/pagination";
@import "custom/components/tables";
@import "custom/components/tooltip";
@import "custom/components/preloader";

// Plugin
// @import "custom/plugins/simplebar";

@import "custom/plugins/datatable";
@import "custom/plugins/select2";
@import "custom/plugins/simplebar";
@import "custom/plugins/toaster";

// Custom Classes
@import "./_custom-classes.scss";
